.menutitle {
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 80px;
}

* {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

input.menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-item {
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

button.menu-item {
    padding: 15px 32px;
    background-color: #CED0CE;
    border: none;
    color: #1C140D;
    font-weight: bold;
    cursor: pointer;
    display: block;
    font-size: 16px;
}

div#menu-container {
    border: 2px solid #1C140D;
    background: #E6E8E6;
    overflow: hidden;
    position: absolute;
    top: 20%;
    height: 60%;
    left: 10%;
    width: 80%;
}

div#menu {
  position: relative;
  padding: 50px;
}

div#buttons {
  position: relative;
}

h1 {
  color: #1C140D;
}


/* unvisited link */
a:link {
    color: #1C140D;
}

/* visited link */
a:visited {
    color: #2C240D;
}

/* mouse over link */
a:hover {
    color: #5C540D;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

.fade-in.delay {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
