.menutitle {
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

button {
    background-color: #CBE86B;
    border: none;
    color: #1C140D;
    padding: 15px 32px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: block;
    font-size: 16px;
    width: 100%;
}

div#menu-container {
    border: 2px solid #1C140D;
    background: #F2E9E1;
    overflow: hidden;
    opacity: 0.95;
    position: absolute;
    top: 20%;
    height: 60%;
    left: 10%;
    width: 80%;
}

div#menu {
  position: relative;
  padding: 50px;
}

div#buttons {
  position: relative;
}

h1 {
  color: #1C140D;
}


/* unvisited link */
a:link {
    color: #1C140D;
}

/* visited link */
a:visited {
    color: #2C240D;
}

/* mouse over link */
a:hover {
    color: #5C540D;
}
